.services {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px;

  background-image: var(--gradientDark);
  scroll-margin-top: 50px;
}

.servicesContainer {
  display: grid;
  grid-template-rows: auto auto;

  max-width: 1440px;
  padding: 20px 10px;

  border-radius: 20px;

  background-image: var(--gradientLight);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;

  max-width: 1440px;
  padding-bottom: 20px;
}

.text {
  align-self: self-start;

  font-weight: 700;
  font-size: 1.2rem;
}

@media (min-width: 960px) {
  .services {
    padding: 0;
    scroll-margin-top: 0px;

    background-image: var(--gradientLight);
  }

  .servicesContainer {
    padding: 40px;

    background-image: none;
    scroll-margin-top: 0px;
  }
}
