.ymap {
  width: 100%;
  height: 100%;
}
[class*="copyright"] {
  display: none !important;
}

[class*="copyrights-promo"] {
  display: none !important;
}

[class="balloon"] {
  color: var(--colorRed);
  font-size: 0.8rem;
}
