.listItem {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.2rem;
}

.check {
  position: relative;

  display: block;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  background-color: var(--colorRed);

  &::before {
    position: absolute;
    top: 8px;
    left: 5px;
    content: "";

    width: 3px;
    height: 8px;

    border-radius: 1px;

    background-color: var(--colorWhite);

    transform: rotate(-45deg);
  }

  &::after {
    position: absolute;
    top: 4px;
    left: 10px;
    content: "";

    width: 3px;
    min-height: 12px;

    border-radius: 1px;

    background-color: var(--colorWhite);

    transform: rotate(35deg);
  }
}
