.advantages {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px;

  background-image: var(--gradientDark);

  scroll-margin-top: 50px;
}

.advantagesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  width: 1440px;
  padding: 20px 10px;

  border-radius: 20px;

  background-image: var(--gradientLight);
}

.infoContainer {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  gap: 20px;
}

.company {
  font-weight: 700;
  font-size: 1.2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.companyContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.textContainer {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
}

.circle {
  position: absolute;
  top: 10px;
  left: 0;

  display: inline-block;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: var(--colorRed);
}

.text {
  position: relative;

  padding-left: 20px;
}

@media (min-width: 640px) {
  .textContainer {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
}

@media (min-width: 960px) {
  .advantages {
    padding: 0;

    background-image: var(--gradientLight);
    scroll-margin-top: 0;
  }

  .advantagesContainer {
    gap: 40px;

    padding: 80px 40px;

    background-image: none;
  }

  .infoContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    gap: 40px;
  }
}
