.title {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  align-self: center;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--colorRed);
  }
}

@media (width >= 768px) {
  .title {
    font-size: 2.6rem;
  }
}
