.auto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px;

  background-image: var(--gradientDark);
}

.autoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px;
  padding: 20px 10px;

  border-radius: 20px;

  background-image: var(--gradientLight);
}

.autoLogosContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  width: 100%;
  max-width: 1440px;
}

.logoItem {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
}

.img {
  max-width: 150px;
  max-height: 100px;
}

@media (min-width: 480px) {
  .img {
    max-width: 236px;
    max-height: 150px;
  }
}

@media (min-width: 960px) {
  .auto {
    gap: 40px;

    padding: 0;

    background-image: var(--gradientLight);
  }

  .autoContainer {
    padding: 80px 40px;

    background-image: none;
  }

  .autoLogosContainer {
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    padding: 40px;
  }
}
