.header {
  position: fixed;
  width: 100%;
  height: 52px;
  top: 0px;
  right: 0;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr 26px;
  gap: 10px;
  padding: 0 10px;
  color: var(--colorWhite);
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.logoContainer {
  position: relative;
  width: 120px;
  max-height: 100%;
}

.logoTitle {
  color: transparent;
  width: 0;
  height: 0;
}

.logo {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  padding: 40px 40px 40px 0px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(5px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.span {
  color: var(--colorRed);
}

.line {
  width: 100%;
  height: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--colorRed);
    opacity: 0.6;
    z-index: 1;
  }
}

.link {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 300ms ease-out;
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--colorRed);
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
  &:hover::after {
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
}

//*burger
.burgerContainer {
  width: 100%;
  height: 100%;
}

@media (min-width: 960px) {
  .header {
    position: absolute;
    height: 80px;
    top: 40px;
    right: 0;
    grid-template-columns: auto 1fr minmax(200px, 600px);
    gap: 20px;
    padding: 0;
    padding-left: 40px;
    background: none;
  }
  .logoContainer {
    width: 180px;
  }
  .line {
    &::after {
      width: calc(100% + 40px);
    }
  }
}
