// @import "/public/fonts/font.scss";
@use "/src/assets/fonts/font";
@use "/src/assets/variables";
@use "/src/assets/main";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
